<section class="pt-5">
    <h5 class="theme-color pb-4">Bill of Material</h5>
    <div class="bg-white rounded shadow">
        <div style="width: 100%;" class="table-responsive">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Sr. No.</th>
                        <th scope="col" class="col-1">Item ID</th>
                        <th scope="col" class="col-3">Name</th>
                        <th scope="col" class="col-3">Specs</th>
                        <th scope="col" class="col-2">Top Vendor</th>
                        <th scope="col" class="col-2">ETA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>
                    <tr>
                        <td scope="row" class="col-1">132</td>
                        <td class="col-1">9732</td>
                        <td class="col-3">Mohamed</td>
                        <td class="col-3">mohamed@gmail.com</td>
                        <td class="col-2">VF DE</td>
                        <td class="col-2">14-10</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- End -->

    </div>
</section>

<section>

    <div class="d-flex justify-content-between">
        <div class="pb-4">
            <span class="theme-color span-pad-30">Project Completion Period</span>
            <span>30 DAYS</span>
        </div>
        <div class="pb-4">
            <span class="theme-color span-pad-30">Payment Process</span>
            <span>PO</span>
        </div>
        <div class="pb-4">
            <span class="theme-color span-pad-30">Currency</span>
            <span>INR</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-4">
            <span class="theme-color span-pad-30">Shipping Address</span>
            <span>7/23, Phase II, Hi Tech City, Hyderabad - 82</span>
        </div>
        <div class="col-12 pb-4">
            <span class="theme-color span-pad-30">Email & Contact</span>
            <span>9827291872, supplieremail@dextropy.com</span>
        </div>
    </div>
</section>