<section class="pt-4">
    <div class="row">
        <div class="col-6 pb-4">
            <span class="theme-color span-pad-30">RFQ Code</span>
            <span>DEX193792797923</span>
        </div>
        <div class="col-6 pb-2">
            <span class="theme-color span-pad-30">Close Daate</span>
            <span>10th Oct 2021</span>
        </div>
        <div class="col-6 pb-2">
            <span class="theme-color span-pad-30">Project Title</span>
            <span>METMO - BREAK DUCT</span>
        </div>
        <div class="col-6 pb-2">
            <span class="theme-color span-pad-30">Project Category</span>
            <span>ASSEMBLY</span>
        </div>
    </div>
</section>

<section>
    <span class="theme-color">Drawings/Design Spec Documents</span>

    <div id="carouselExampleControls" class="shadow mt-4 carousel slide carousel-silder-docs" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-blue mb-3">
                                </div>
                                <h5 class="card-title">CAD Drawings</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-green mb-3">
                                </div>
                                <h5 class="card-title">Parts</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-red mb-3">
                                </div>
                                <h5 class="card-title">Design</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-black-grey mb-3">
                                </div>
                                <h5 class="card-title">CAD Drawings</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-dext-theme-color mb-3">
                                </div>
                                <h5 class="card-title">Par2ts</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-green mb-3">
                                </div>
                                <h5 class="card-title">Design</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-blue mb-3">
                                </div>
                                <h5 class="card-title">CAD Drawings</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-green mb-3">
                                </div>
                                <h5 class="card-title">Parts</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="card bg-red mb-3">
                                </div>
                                <h5 class="card-title">Design</h5>
                                <span class="card-text text-muted">18th March, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-3 next-prev" style="display: flex; justify-content: space-between;">
            <a role="button" data-slide="prev">
                <span>Previous</span>
            </a>
            <a class=""role="button" data-slide="next">
                <span>Next</span>
            </a>
        </div>
    </div>

</section>
<section>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span class="theme-color span-pad-30">Material Category</span>
            <span>MILD STEEL</span>
        </div>
        <div>
            <span class="theme-color span-pad-30">Process</span>
            <span>3D PRINTING</span>
        </div>
        <div>
            <span class="theme-color span-pad-30">Surface Finish</span>
            <span>ANODIZING</span>
        </div>
    </div>
</section>
