<section>
    <div class="d-flex justify-content-between align-items-center">
        <div class="headings">
            <h3 class="header">All Orders</h3>
            <h6 class="sub-header">Keep track of the RFQs you have responded</h6>
        </div>
        <div class="available-buttons d-flex justify-content-between align-items-center">
            <button class="btn btn-dext">
                <i class="bi bi-plus-circle-fill"></i>
                <span>Add Team</span>
            </button>
            <button class="btn btn-dext">
                <i class="bi bi-filter-circle-fill"></i>
                <span>Organize</span>
            </button>
        </div>
    </div>
</section>

<section class="search-section mt-4">
    <i class="bi bi-search"></i>
    <input class="search-input" type="text" placeholder="Search">
</section>

<section class="mt-2">
    <div class="capsules-card">
        <div class="capsule">Sheet Metal</div>
        <div class="capsule">Assembly</div>
        <div class="capsule capsule-selected">Rated 4+</div>
        <div class="capsule capsule-selected">Gurgaon</div>
        <div class="capsule">Hyderabad</div>
        <div class="capsule">Android</div>
        <div class="capsule">Automobile</div>
        <div class="capsule">Web Development</div>
        <div class="capsule capsule-selected">QC Certified</div>
        <div class="capsule">Automobile</div>
        <div class="capsule capsule-selected">Construction</div>
        <div class="capsule">Assembly</div>
    </div>
</section>
<section>
    <mat-tab-group [color]="'warn'">
        <mat-tab label="All Vendors (30)"> 
            <div class="pt-3 table-responsive table-section">
                <table class="table-style table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Title</th>
                        <th scope="col">Value</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Applications</th>
                        <th scope="col">Services</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
                        <tr>
                            <td>2032</td>
                            <td>2032</td>
                            <td>Content editor</td>
                            <td>321</td>
                            <td>VF DE, T-mobile</td>
                            <td>Glam_VF</td>
                            <td>Subscription</td>
                            <td>Active</td>
                            <td class="action-icons">
                                <i class="bi bi-people-fill"></i>
                                <i class="bi bi-pencil-square"></i>
                                <i class="bi bi-trash-fill"></i>
                            </td>
                            <td><i class="bi bi-arrow-bar-right"></i></td>
                        </tr>
        
                       
                    </tbody>
                  </table>
            </div>
        </mat-tab>
        <mat-tab label="Smart Select (12)"> Content 2 </mat-tab>
        <mat-tab label="Registered (10)"> Content 3 </mat-tab>
        <mat-tab label="Non-Registered (4)"> Content 3 </mat-tab>
        <mat-tab label="Add your Own"> Content 3 </mat-tab>
    </mat-tab-group>
</section>