    <mat-tab-group [color]="'warn'" mat-align-tabs="start">
        <mat-tab label="Respond">
            <app-bid-respond></app-bid-respond>
        </mat-tab>
        <mat-tab label="Details">
            <app-bid-details></app-bid-details>
        </mat-tab>
        <mat-tab label="Details (Extd.)">
            <app-bid-additional-details></app-bid-additional-details>
        </mat-tab>
        <mat-tab label="Bid">
            <app-bid-bid></app-bid-bid>
        </mat-tab>
    </mat-tab-group>

    